<div class="container main-container">

  <section>
    <h1 class="title">{{title}}</h1>
    
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Variable</th>
          <th scope="col">Pipe</th>
          <th scope="col">Result</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ name }}</td>
          <td>uppercase</td>
          <td>{{ name | uppercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>lowercase</td>
          <td>{{ name | lowercase }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>slice:2</td>
          <td>{{ name | slice:2 }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>slice:0:2</td>
          <td>{{ name | slice:0:2 }}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice:1:5</td>
          <td>{{ arreglo | slice:1:5 }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number : '3.0-0'</td>
          <td>{{ PI | number : '3.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>number : '1.0-2'</td>
          <td>{{ PI | number : '1.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ theNumber }}</td>
          <td>percent</td>
          <td>{{ theNumber | percent }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>currency</td>
          <td>{{ salary | currency }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>currency : 'EUR'</td>
          <td>{{ salary | currency : 'EUR' }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>currency : 'CRC' : 'symbol-narrow'</td>
          <td>{{ salary | currency : 'CRC' : 'symbol-narrow' }}</td>
        </tr>
        <tr>
          <td>{{ salary }}</td>
          <td>currency : 'CRC' : 'symbol-narrow' : '4.0-0'</td>
          <td>{{ salary | currency : 'CRC' : 'symbol-narrow' : '4.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ thePromise }}</td>
          <td>async</td>
          <td>{{ thePromise | async }}</td>
        </tr>
        <tr>
          <td>{{ theDate }}</td>
          <td>date </td>
          <td>{{ theDate | date }}</td>
        </tr>
        <tr>
          <td>{{ theDate }}</td>
          <td>date : 'medium' </td>
          <td>{{ theDate | date : 'medium' }}</td>
        </tr>
        <tr>
          <td>{{ theDate }}</td>
          <td>date : 'MMMM - dd' </td>
          <td>{{ theDate | date : 'MMMM - dd' }}</td>
        </tr>
        <tr>
          <td>{{ badName }}</td>
          <td>capitalized</td>
          <td>{{ badName | capitalized }}</td>
        </tr>
        <tr>
          <td>{{ name }}</td>
          <td>
            passwordview:{{show}}
            <br><br>
            <button
              (click)="show = !show"
              type="button"
              class="btn btn-outline-primary">Show / Hide</button
              >
          </td>
          <td>{{ name | passwordview:!show }}</td>
        </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h3 class="subtitle">Slice (*ngFor slice:5:20)</h3>

    <ul>
      <li *ngFor="let item of arreglo | slice:5:20"> {{item}} </li>
    </ul>
  </section>

  <section>
    <h3 class="subtitle">JSON </h3>

    <pre>
      {{ heroe | json }}
    </pre>
  </section>

  <section>
    <h3 class="subtitle">Youtube video</h3>

    <iframe width="560" height="315" [src]="videoId | securedom: 'https://www.youtube.com/embed/' " frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </section>

</div>