/* You can add global styles to this file, and also import other style files */
.title,
.subtitle {
    margin-bottom: 20px;
}

section {
    display: block;
    margin-bottom: 60px;
}

.main-container {
    padding-top: 40px;
    margin-bottom: 80px;
}